# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database
data/*.db
data/*.sqlite

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Misc
.env
unitary.zip
import_log.txt
startup_nosympy.log
